body {
    font-family: Arial, sans-serif;
    background-color: #e1e1cf;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a9c2c0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.792);
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.name1 {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    
}




input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 580px;
    height: 30px;
}


textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    
    width: 580px;
    height: 30px;
    resize: none;
}
.placeholder {
    text-align: center;
}

button {
    margin:  auto;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.grid {
    display: grid;
    place-items: center;
}

button:hover {
    margin: 0;
    align-content: center;
    align-items: center;
    background-color: #0056b3;
}
